<h1>Edit a movie.</h1>
<%= @movie %>
<form action="<%= movies_path %>" method="POST">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>
    <input type="hidden" name="_method" value="patch"/>

    <label for="title">Title</label>
    <input type="text" name="movie[title]" id="title" value="<%= @movie["title"] %>"/>
    
    <label for="rating">Rating</label>
    <input type="number" placeholder="1-10" min="1" max="10" name="movie[rating]" id="rating" value="<%= @movie["rating"] %>"/>

    <input type="submit" value="create new movie"/>
</form>